/* ContactPage.css */

.contact-container {
  display: flex;
  height: 50vh;
  font-family: 'Segoe UI', sans-serif;
}

.contact-left {
  flex: 1;
  background: url('https://images.unsplash.com/photo-1506765515384-028b60a970df?auto=format&fit=crop&w=900&q=80') no-repeat center center;
  background-size: cover;
}

.contact-right {
  flex: 1;
  /* background-color: #fff0f3; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 2rem;
}

.contact-title {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 1.5rem;
  color: #7a1f3d;
  font-weight: bold;
}

.social-icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.icon {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 24px;
  color: #7a1f3d;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.icon:hover {
  background-color: #7a1f3d;
  color: #fff;
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(122, 31, 61, 0.3);
}
.contact-address {
  margin-top: 40px;
  text-align: center;
  color: #7a1f3d;
  font-size: 1rem;
  line-height: 1.6;
  background: #ffe9ef;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(122, 31, 61, 0.1);
  transition: transform 0.3s ease;
}

.contact-address:hover {
  transform: scale(1.02);
}


@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-right {
    width: 100%;
    height: 50vh;
  }
    .contact-left{
      display: none;
    }

  .social-icons {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .icon {
    margin: 10px;
  }
  .contact-address {
  width: 90%;
  font-size: 18px;
  padding: 15px;
}

}
@media (max-width: 480px) {
  .icon {
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin: 0px;
  }

  .contact-title {
    display: none;
  }

  .contact-address {
    font-size: 0.9rem;
  }
  .contact-left{
    display: none;
  }
}
