.booking-list-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(144, 125, 125, 0.1);
}

.booking-list-container h2 {
  font-weight: bold;
  color: #570b0b;
}
